<div class="container content">
  <div class="row">
    <div class="col-lg-6 col-xs-12">
      <h4>Driver's List</h4>
      <h6>Filters</h6>
      <div class="container" id="filter-container">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <select  multiple class="form-control" id="filters" [(ngModel)]="selectedFilters">
                <option value="batch">Batch</option>
                <option value="zipcode">Zip Code</option>
                <option value="city">City</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
              <div class="form-group">
              <select class="form-control" id="batches" [(ngModel)]="selectedBatch">
                <option *ngFor="let batch of batches; let index = index" [ngValue]="batch?.batchNumber">
                  {{batch?.batchLocation}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <button (click)="getFilterSortedDrivers()" class="btn btn-primary">Apply Filters</button>
          </div>
        </div>
      </div>
      <h4 *ngIf="showRecommendationLabel">Recommended Drivers:</h4>
      <div *ngIf="loading; then showSpinner else showDrivers"></div>
      <ng-template #showDrivers>
        <div *ngIf="drivers.length > 0; then showTable else noDrivers"></div>
        <ng-template #showTable>
          <h4>List of drivers</h4>
          <table class="table table-striped" id="driver-table">
            <thead class="thead-dark">
              <tr>
                <th class="sort-col" [ngClass]="sortBy === 'name' && sortDirection === 'asc' ? 'up-arrow' : 'down-arrow'" scope="col" (click)="onSortChange('name')">Name</th>
                <th class="sort-col" [ngClass]="sortBy === 'seats' && sortDirection === 'asc' ? 'up-arrow' : 'down-arrow'" scope="col" (click)="onSortChange('seats')">Seats</th>
                <th class="sort-col" [ngClass]="sortBy === 'distance' && sortDirection === 'asc' ? 'up-arrow' : 'down-arrow'" scope="col" (click)="onSortChange('distance')">Distance</th>
                <th class="sort-col" [ngClass]="sortBy === 'duration' && sortDirection === 'asc' ? 'up-arrow' : 'down-arrow'" scope="col" (click)="onSortChange('duration')">Time</th>
                <th scope="col">View Info</th>
              </tr>
            </thead>
            <tbody>
              <tr app-driver-list-entry class="list-entry" *ngFor="let driver of drivers" [driver]=driver></tr>
            </tbody>
          </table>
        </ng-template>
        <ng-template #noDrivers>
          <div class="row">
            <div class="text-center col-lg-12">
              <h2>No Drivers in Your Area</h2>
            </div>
          </div>
        </ng-template>
      </ng-template>
      <ng-template #showSpinner>
        <app-spinner></app-spinner>
      </ng-template>
    </div>
    <div class="col-lg-6 col-xs-12">
      <h4>Directions:</h4>
      <div #map id="gmap" class="img-responsive"></div>
    </div>
  </div>
</div>
